p {
   margin-top: 5em;
   margin-left: 2em;
}

h1 {
    font-size: 58px;
    position: relative;
    text-align: center;
    color: darkblue;
}

ul {
  font-size: larger;
  font: Lucida;
}

a {
    color: red;
}

.border {
    border: 1em;
    border-color: black;
}

.formoutline {
    margin-top: 5em;
    margin-left: 2em;
    margin-right: 10em;
}

footer {
    height: 100px;
    background: #eee;
    position: relative;
}

.foottext1 {
    vertical-align: bottom;
    position:absolute;
    bottom:0;
    color: red;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }


  /* .box {
    margin: 20px;
  }
  
  .box1 {
    background-color: red;
  }
  
  .box2 {
    background-color: orange;
  }
  
  .box3 {
    background-color: purple;
  }
  
  .box4 {
    background-color: grey;
  } */

  img {
    object-fit: cover;
    height: 200px;
    width: 100%;
  }
  
  img:hover {
    filter: grayscale(80%);
  }
  
  .img-subtitle {
    position: absolute;
    bottom: 16px;
    right: 16px;
    color: whitesmoke;
  }

body { background: rgb(2,0,36);
  background: linear-gradient(190deg, rgba(2,0,36,1) 0%, rgba(9,27,121,0.33519345238095233) 35%, rgba(0,212,255,1) 100%);
}